/* body.dark {
    background: #222222;
    color: white;
    transition: .3s ease all;
}

nav {
    color: #222222;
} */

.cambio-dark {
    background: #343d5b;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center;
    height: min-content;
}

.cambio-dark > span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.cambio-dark::after{
     content: "";
     display: block;
     width: 30px;
     height: 30px;
     position: absolute;
     background: #f1f1f1;
     top: 0;
     left: 0;
     right: unset;
     border-radius: 100px;
     transition: .3s ease all;
     box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.cambio-dark.active {
    background: orange;
    color: black;
}

.cambio-dark.active::after {
    right: 0;
    left: unset;
}

