#registro {
    margin-top: 100px;
    border-radius: 10px;
    background-color:#375a7f;
}

#registro > label{
    padding: 0;
}

#btn-carga {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  rgb(169, 101, 101);
    border-radius: 10px;
}